.navbar{
    background-image: url(../img/uploads/fixtures/03.jpg);
}
.navbar-brand{
    color:#44d62c;
}

.navbar-nav a{
    text-decoration: none;
    text-transform: uppercase;
    color:#44d62c;
}
.navbar-collapse1{
    justify-content:center;
}

.logoNav{
    width: auto;
    height: 100px;
}

.navbar-brand:hover {
    color: #fff;
    background-color: transparent;
}

.navbar-nav a:hover {
    color: #fff;
    background-color: transparent;
}

.dropdown-menu {
    background-color: transparent; 
    color: #44d62c;
}

.dropdown-item {
    color: #44d62c;
}

.dropdown-menu a:hover {
    color: #fff;
    background-color: transparent;
}

::placeholder {
    color: #44d62c !important;
  }

.navbar-collapse {
    margin-left: 200px;
}