.card{
    border: 1px ridge #44d62c;
}

.CardProducts{
    height: 605px;
}

.buttonAddCart{
    color:green;
    width: 100%;
    border: thick double green;
}
.logocart{
    width:50px;
    height:auto;
}
.heart{
    color:green;
    border: thick double green;
}